/vendor/bin/
/vendor/classpreloader/
/vendor/composer/
/vendor/dnoegel/
/vendor/doctrine/
/vendor/fzaninotto/
/vendor/hamcrest/
/vendor/jakub-onderka/
/vendor/jeremeamia/
/vendor/league/
/vendor/mockery/
/vendor/monolog/
/vendor/mtdowling/
/vendor/nesbot/
/vendor/nikic/
/vendor/paragonie/
/vendor/phpdocumentor/
/vendor/phpspec/
/vendor/phpunit/
/vendor/psr/
/vendor/psy/
/vendor/sebastian/
/vendor/swiftmailer/
/vendor/symfony/
/vendor/vlucas/
/vendor/webmozart/
/vendor/autoload.php

#/vendor/
!/vendor/laravel/

/node_modules
/public/storage
Homestead.yaml
Homestead.json
.env

/.idea/
_ide_helper.php
